.Name-artist img{
    height: 120px;
    border-radius: 30px;
    width: 100%;
    padding-bottom: 5px;
    object-fit: cover;
}
.Name-artist {
    padding: 0px;
}
.Name-artist h5,p{

    text-align: center;
}
.Name-artist p{
    padding: 0px;
}
.Nam-artist h5{
    font-size: 12px;
}